html,body{
  padding: 0px !important;
}
.no-margin{
  margin: 0px !important;
}
.a-header{
	/*background-image: url('../img/bg.jpg');
	background-size: 100% 100%;
*/
}
.a-wedo{
	padding-top: 30px;

}
.hero-home{
	/* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10*/;
}
.particles-js-el{


}
/*particles*/
#particles-js{
  width: 100%;
  height: 50% !important;
  background-color: #ffc400 ;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/*Theme Colors*/
.primaryText{
	color: #fff !important;
}
.al-menu:hover {
	
	background-color: rgba(63,81,181,0.1);


}
.al-menu a:hover{
	color: #fff !important;
}
.al-header{
	background-image: url('../img/11.png');
	background-size: 100% 100%;
}